/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */
.header {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: lightblue;
}

.header-section {
    display: flex;
    /* align-items: center; */
    height: 40px;
    width: 60%;
    justify-content: space-between;
    /* DEBUG */
    background-color: burlywood;
}

/* HEADER LOGO */
h2 {
    min-width: 150px;
    /* DEBUG */
    border: 2px solid black;
}

/* HEADER MENU */
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    /* DEBUG */
    border: 2px solid black;
}

li {
    list-style-type: none;
}

/* HEADER LOGIN */
.header-login {
    min-width: 150px;
    text-align: right;
    /* DEBUG */
    border: 2px solid black;
}

/* MAIN */

/* FIRST SECTION */
.main-section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    /* DEBUG */
    background-color: blue;
}

.first-section {
    height: 400px;
    width: 50%;
    align-self: center;
    /* DEBUG */
    background-color: violet;

}

/* SECOND SECTION */
.details-section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    /* DEBUG */
    background-color: white;
}

.second-section {
    display: flex;
    height: 400px;
    width: 60%;
    align-self: center;
    /* DEBUG */
    background-color: blue;
}

.image {
    width: 60%;
    /* DEBUG */
    background-color: skyblue;
}

.info {
    width: 40%;
    /* DEBUG */
    background-color: plum;
}

/* THIRD SECTRION */
.details-section3 {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    /* DEBUG */
    background-color: lightgrey;
}

.third-section {
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    width: 60%;
    align-self: center;
    /* DEBUG */
    border: 2px solid black;
}

/* FOURTH SECTION */
.details-section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    /* DEBUG */
    background-color: white;
}

.fourth-section {
    display: flex;
    height: 400px;
    width: 60%;
    align-self: center;
    /* DEBUG */
    border: 2px solid black;
}




/* FOOTER */